* {
  background-color: #00214c;
}

.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  width: auto;
  padding: 20px 0px;
}

.App-movie {
  padding: 0px 0px;
}

.App-header {
  background-color: #00214c;
  color: white;
}

.App-sign {
  color: white;
  text-align: center;
}

.App-h1-logo {
  height: 70px;
  width: auto;
}

.App-button {
  padding: 10px 80px;
  background-color: rgb(9, 97, 254);
  background-image: linear-gradient(to right, rgb(9, 97, 254), rgb(4, 159, 255));
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.App-h1 {
  padding: 50px 0px 0px 0px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-input {
  background-color: white;
  font-size: 20px;
  padding: 15px 20px;
  width: 400px;
  border: none;
  margin-bottom: 20px;
}

.App-policy {
  width: 400px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 0.5rem;
}
